.bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: -1;
}

article {
    background: white;
    border: 8px solid #f3c3c4;
    max-width: 900px;
    padding: 60px 80px;
    text-align: center;
    margin-top: 26px;
    margin-left: 18px;
}

.artists {
    line-height: 1.8;
    font-size: 18px;
    margin-bottom: 16px;
}

h2 {
    font-size: 28px;
    margin-bottom: 5px;
    font-weight: bold;
}

p {
    font-weight: 900;
}

.a-tot-z {
    margin-bottom: 16px;
}

.artist-name {
    position: relative;
    z-index: 0;
    white-space: nowrap;
}

.artist-name.hovered {
    color: white !important;
    cursor: default;
    filter: drop-shadow(0px 0px 8px black);
    position: relative;
    z-index: 3;
}

.artist-name.red {
    color: #EB4C4B;
}

#artist-hover-img {
    position: fixed;
    width: 180px;
    height: 180px;
    object-fit: cover;
    pointer-events: none;
    display: none;
    z-index: 2;
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#artist-hover-img.zichtbaar {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}