
main section h1{
    font-family: helvetica-neue-lt-pro, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2em;
}

main section h2{
    font-family: helvetica-neue-lt-pro, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1em;
    margin: .5em 0 .5em 0;
}

main section p{
    font-family: helvetica-neue-lt-pro, sans-serif;
    font-style: italic;
    font-weight: 400;
    margin: .5em 0 0 0;
}

main article{
    width: 100%; 
    padding: 1em; 
    background: #fff; 
    border: 3px solid black; 
    cursor: pointer;
}



/* ======================= openklappende article styling ======================= */


article.open {
    border-color:rgba(235, 76, 76, 1);
}


article p{
    max-height: 0; 
    opacity: 0; 
    transform: translateY(-6px); 
    overflow: hidden; 
    transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

article p.visible{
   max-height: 500px; /* groot genoeg voor je tekst */ 
   opacity: 1; 
   transform: translateY(0);
}

main section h1 { text-align: left; }
main article { max-width: 40.5em; 
    margin: 1em auto; 
    margin-left: 0;
}
