*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* ======================= custom properties ======================= */

:root {
    --background-clr: #F8F8F8;
    --white: #FFFFFF;
    --black: #000000;
    --cendo-red: #EB4C4C;
}


/* ======================= fonts ======================= */

@font-face {
	font-display: swap;
	font-family: 'helveticaneue';
	font-style: normal;
	font-weight: 400;
	src: url(./fonts/helveticaneue.woff2) format("woff2"),
		url(./fonts/helveticaneue.woff2) format("woff")
}

/* ======================= algemene styling ======================= */


body {
    background-color: var(--background-clr);
    font-family: 'helveticaneue', arial;
    color: var(--black);
    margin: 0;
    background: #f3f4f6;
}

h1{
    font-family: 'helveticaneue', arial;
    font-size: 2.25em;
    font-weight: bold;
    text-transform: uppercase;
}

h2{
    font-family: 'helveticaneue', arial;
    font-size: 1.875em;
    font-weight: bold;
}

h3{
    font-family: 'helveticaneue', arial;
    font-size: 1.625em;
    font-weight: bold;
}

h4{
    font-family: 'helveticaneue', arial;
    font-size: 1.25em;
    font-weight: bold;
}



p{
    font-family: 'helveticaneue', arial;
    font-size: 1em;
    font-style: italic;
    font-weight: lighter;
}


a {   
    all: unset;
    font-family: 'helveticaneue', arial;
    font-size: 1em;
    font-style: italic;
    font-weight: lighter;
}

.btn{
    padding: 1em 1.5em;
    background-color: var(--black);
    color: var(--white);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 16px;
    height: min-content;
}

.btn img{
    height: 1em;
    width: auto;
}

.btn-hover{

    background-color: var(--cendo-red);

}

/* HEADER */

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 50px;
    height: 80px;
  }
  
  /* SOCIALS */
  
  .socials ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
  }
  
  .socials a {
    color: #000;
    font-size: 32px;
    transition: transform 0.2s ease, color 0.2s ease;
  }
  
  .socials a:hover {
    transform: scale(1.2);
    color: #EB4C4B;
  }
  
  /* LOGO */
  
  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .logo img {
    height: 40px;
    display: block;
  }
  
  /* HAMBURGER */
  
  .hamburger {
    width: 30px;
    height: 22px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1100;
  
    background: none;
    border: none;
    padding: 0;
  }
  
  .hamburger span {
    display: block;
    height: 4px;
    width: 100%;
    background: #000;
    border-radius: 3px;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    transform-origin: center;
  }
  
  .hamburger.active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  
  .hamburger.active span:nth-child(2) {
    opacity: 0;
    transform: scaleX(0);
  }
  
  .hamburger.active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
  
  /* MENU */
  
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 420px;
    height: 100vh;
    background: white;
    border-left: 4px solid #EB4C4B;
    padding: 0 40px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    opacity: 0;
    transform: translateX(100%);
    pointer-events: none;
  
    transition: all 0.5s cubic-bezier(0.4,0,0.2,1);
    z-index: 1000;
  }
  
  .menu.active {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu li {
    margin: 14px 0;
  }
  
  .menu a {
    text-decoration: none;
    color: var(--black);
    font-size: 28px;
    font-family: 'helveticaneue', arial;
    padding-left: 20px;
    transition: color 0.15s ease;
  }
  
  .menu a:hover {
    color: #EB4C4B;
  }
  

  main{
   display: flex;
   flex-direction: column;
    align-items: center;
    margin: 2em 0;
}

main section{
  width: 65%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}


  footer{
    display: flex;
    text-align: center;
    justify-content: center;
}


