*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

html {
    scroll-behavior: smooth;
}

:root {
    --background-clr: #F8F8F8;
}


body {
    background-color: var(--background-clr);
    color: white;
}

a {
    color: blueviolet;
}