*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

html {
    scroll-behavior: smooth;
}

:root {
    --font-color: #051B0D;
    --lght-font-color: rgba(5, 27, 13, 0.6);
    --white: #fff;
    --black: #000;
    --bgwhite: #F2F2F2;
    --drkgreen: #385C45;
    --drkrgreen: hsl(142, 24%, 19%);
    --lghtgreen: #D0DED5;
    --red: #ED1822;
    --drkred: hsl(357, 86%, 41%);
}


body {
    background-color: black;
    color: white;
}

a {
    color: blueviolet;
}